In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\aarjav\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\aarjav\anaconda3\lib\site-packages (from pandas_datareader) (2.26.0)
Requirement already satisfied: lxml in c:\users\aarjav\anaconda3\lib\site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: pandas>=0.23 in c:\users\aarjav\anaconda3\lib\site-packages (from pandas_datareader) (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\aarjav\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\aarjav\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\aarjav\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\aarjav\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aarjav\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aarjav\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aarjav\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\aarjav\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas_datareader as data

In [5]:
start = '2010-01-01'
end   = '2019-12-31'

df = data.DataReader('TSLA','yahoo',start,end)
df.head()

             High    Low   Open  Close    Volume  Adj Close
Date
2010-06-29  5.000  3.508  3.800  4.778  93831500      4.778
2010-06-30  6.084  4.660  5.158  4.766  85935500      4.766
2010-07-01  5.184  4.054  5.000  4.392  41094000      4.392
2010-07-02  4.620  3.742  4.600  3.840  25699000      3.840
2010-07-06  4.000  3.166  4.000  3.222  34334500      3.222